.form {
    max-width: 425px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formText{
    font-family: var(--font-base), sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: var(--color-neutral-dd);
}