@import url('~/assets/css/reset.css');
@import url('~/assets/css/fonts.css');

:root {
  --color-primary: #006FFD;
  --color-secondary: #FFFFFF;
  --color-error: #FF616D;
  /*. */
  --color-neutral-lm: #E8E9F1;
  --color-neutral-ld: #D4D6DD;
  /* Neutral/Dark/Darkest */
  --color-neutral-dd: #1F2024;
  --color-neutral-dl: #1A1A2E;
  /* Neutral/Dark/Medium */
  --color-neutral-dm: #494A50;
  /* Highlight/Lightest */
  --color-highlight-l: #EAF2FF;
  /* Neutral/Light/Lightest */
  --color-neutral-ll: #ffffff;

  --font-base: "StyreneALC", sans-serif;

  --transition-base: 180ms ease;

  --radius-md: 12px;
}

body {
  font-family: var(--font-base);
}