$colors: (
        primary: #006FFD,
        secondary: #FFFFFF,
        error: #FF616D,
        // Neutral/Light/Medium
        neutral-lm: #E8E9F1,
        // Neutral/Light/Dark
        neutral-ld: #D4D6DD,
);


body {
  font-family: "StyreneALC", sans-serif;
}