@font-face {
    font-family: "StyreneALC";
    src: url("/fonts/StyreneALC-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "StyreneALC";
    src: url("/fonts/StyreneALC-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "StyreneALC";
    src: url("/fonts/StyreneALC-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "StyreneALC";
    src: url("/fonts/StyreneALC-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}